# ── Servidor ──────────────────────────────────────────
PORT=3000

# ── MySQL Local (MySQL Workbench) ──────────────────────
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password_aqui
DB_NAME=parqueadero_db

# ── JWT ────────────────────────────────────────────────
JWT_SECRET=cambia_esto_por_una_clave_segura_32chars
JWT_EXPIRES_IN=8h

# ── Ocupación (alertas) ────────────────────────────────
ALERTA_PORCENTAJE_1=90
ALERTA_PORCENTAJE_2=100
